### LibreOffice ###
# LibreOffice locks
.~lock.*#

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
test/testcases-output
test/testcases-output-validation-result
test/example-schemas-output
